#about-us-wrapper { margin-left: 240px; }
#au-header { position: relative; margin-bottom: 0em; box-shadow: 0px 0px 4px -2px #000; height: 72px; background: #f7f7f7; }
#au-header p { padding: 0 32px; font-size: 2em; font-weight: bold; color: #673AB7; line-height: 72px; }
#au-container { margin: 0 2em; margin-top: 1.5em; }
p { color: #000; font-size: 1em; font-weight: bold; margin-bottom: 1em; }
/* material input */
.form-input { padding: 1em 0 0 0; position: relative; }
.input-lbl { font-weight: bold; display: block; font-size: 1em; transform: translateY(20px); color: #7E57C2; transition: all 0.5s; }
.event-input { position: relative; background: transparent; width: 100%; border: none; outline: none; padding: 0.5em 0; font-size: 1em; }
.form-input::after, .form-input::before { content: ""; position: absolute; display: block; width: 100%; height: 2px; background-color: #7E57C2; bottom: 0; left: 0; transition: all 0.5s; }
.form-input::after { background-color: #000; transform: scaleX(0); }
.input-active .input-lbl { color: #000; }
.input-active::after { transform: scaleX(1); }
.input-complete .input-lbl { font-size: 16px; transform: translateY(0); }

/* submit button */
input[type="submit"] { margin: 1em 0; border: none; background: #673Ab7; color: #fff; padding: 0.7em 1em; width: 148px; font-size: 1em; cursor: pointer; }

#logo-upload { position: relative; max-width: 240px; height: 160px; border: 1px solid #673Ab7; text-align: center; }
#logo-upload input { display: none; }
#logo-upload p, #logo-upload span { font-size: 1em; margin: 1em; }
#logo-upload span { cursor: pointer; color: #fff; padding: 0.6em 2em; font-size: 1em; background: #673Ab7; }
#logo-upload img {max-height: 100%; max-width: 100%; width: auto; height: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
#rem-logo { display: none; float: right; margin-right: 8px; }
#rem-logo:hover { cursor: pointer; color: #673AB7; }
.required { color: red; font-size: 0.875em; font-weight: 300; }

#for-logo { max-width: 240px; }

/* responsive */
@media only screen and (max-width: 768px) {
    #nav-sidebar { display: none; }
    #about-us-wrapper { margin-left: 0; }
    #menu { display: initial; }
    #slide-in { display: initial; }
}
@media only screen and (max-width: 480px) {
    #menu { margin-right: 0em; }
    #au-header { margin-bottom: 0.5em; }
    #au-header p, #au-container{ padding: 0 16px; }
    #au-container { margin: 0; }
}
@media only screen and (max-width: 420px) {
    #au-header p { font-size: 28px; }
}
@media only screen and (max-width: 320px) {
    #au-header { margin-bottom: 0.5rem; }
    #au-header p { font-size: 24px; }
}
