html{ overflow-y: scroll;}
#create-event { margin-left: 240px; }
#ce-header { position: relative; margin-bottom: 1.5em; box-shadow: 0px 0px 8px -2px #000; height: 72px; background: #f7f7f7; }
#ce-header p { padding: 0 32px; font-size: 2em; font-weight: bold; color: #673AB7; line-height: 72px; }
#ce-container { padding: 0 32px; padding-bottom: 2em; }

/* material input */
.form-input { padding: 1em 0 0 0; position: relative; }
.input-lbl { font-weight: bold; display: block; font-size: 1em; transform: translateY(20px); color: #7E57C2; transition: all 0.5s; }
.event-input { position: relative; background: transparent; width: 100%; border: none; outline: none; padding: 0.5em 0; font-size: 1em; }
.form-input::after, .form-input::before { content: ""; position: absolute; display: block; width: 100%; height: 2px; background-color: #7E57C2; bottom: 0; left: 0; transition: all 0.5s; }
.form-input::after { background-color: #000; transform: scaleX(0); }
.input-active .input-lbl { color: #000; }
.input-active::after { transform: scaleX(1); }
.input-complete .input-lbl { font-size: 16px; transform: translateY(0); }

/* others */
.tell-event-detail { margin-top: 1.5em; color: #7E57C2; font-weight: bold; }

/* summernote */
/* .note-editor { overflow: scroll; } */
.note-btn-primary { background: #673AB7; }
.note-btn-primary:hover, .note-btn-primary:focus, .note-btn-primary.focus { background: #000; }
.note-editor.note-frame .note-placeholder { padding: 1em; }
.note-editor.note-frame .note-editing-area .note-editable { padding: 1em; }
.note-editor.note-frame .note-statusbar { display: none; }
.note-editor.note-frame { border-color: #673AB7; }
.note-toolbar { border-color: #673AB7; position: relative !important; width: 100% !important; }
.note-tooltip.top .note-tooltip-arrow { border-top-color: #673AB7; }
.note-tooltip.bottom .note-tooltip-arrow { border-bottom-color: #673AB7; }
.note-tooltip.left .note-tooltip-arrow { border-left-color: #673AB7; }
.note-tooltip.right .note-tooltip-arrow { border-right-color: #673AB7; }
.note-tooltip-content { background: #673AB7; }
.note-popover .note-popover-content, .note-toolbar { padding: 0 0 5px 0; }

/* CALENDAR */
.date-txt { padding: 0 1em;  }
.event-date { margin-right: 1em; width: 100%; display: inline-block; user-select: none; position: relative; border-radius: 2px; padding: 0.75em; border: 1px solid #000; max-width: 268px; cursor: pointer;  }
.event-date:hover { box-shadow: 0px 0px 4px 0px #673AB7; border-color: #673AB7; }
.event-date svg { position: absolute; right: 1em; top: 50%; transform: translateY(-50%); }
.calendar { width: 100%; top: 100%; left: -1px; position: absolute; z-index: 1; display: none; }
.ui-datepicker,.ui-datepicker table,.ui-datepicker tr,.ui-datepicker td,.ui-datepicker th { margin: 0; padding: 0; border: none; border-spacing: 0; }
.ui-datepicker { width: calc(100% - 2em); padding: 1em; border: 1px solid #673AB7; display: none; cursor: default; text-transform: uppercase; font-size: 1.125em; background: #fff; }
.ui-datepicker-header { position: relative; padding-bottom: 1em; border: none; }
.ui-datepicker-title { text-align: left; }
.ui-datepicker-month { position: relative; color: #673AB7; font-weight: 600; }
.ui-datepicker-month::before { content: none; }
.ui-datepicker-year { padding-left: 12px; color: #673AB7; font-weight: 600; }
.ui-datepicker-prev,.ui-datepicker-next { position: absolute; top: 10px; padding: 0px; cursor: pointer; }
.ui-datepicker-prev { right: 50px; padding-left: 0; }
.ui-datepicker-next { right: 0; padding-right: 0; }
.ui-datepicker-prev span,.ui-datepicker-next span{ display: block; width: 32px; height: 32px; text-indent: -9999px; }
.ui-datepicker-prev span { background-image: url(../open-iconic/svg/chevron-left.svg); background-repeat: no-repeat; background-position: 0px 0px; }
.ui-datepicker-next span { background-image: url(../open-iconic/svg/chevron-right.svg); background-repeat: no-repeat; background-position: 0px 0px; }
.ui-datepicker-calendar th { padding-top: 0; padding-bottom: 8px; text-align: center; font-weight: 600; color: #000; }
.ui-datepicker-calendar td { text-align: center; line-height: 2.5; }
/* .ui-datepicker-calendar th, .ui-datepicker-calendar td { padding: 4px 0; padding-right: 22px; } */
.ui-datepicker-calendar .ui-state-default { display: block; outline: none; width: 36px; height: 36px; text-decoration: none; color: #000; }
.ui-datepicker-calendar .ui-state-active { color: #fff; width: 36px; height: 36px; border: none; background: #673AB7; border-radius: 100%; line-height: 36px; }
.ui-datepicker-other-month .ui-state-default { color: #fff; width: 36px; height: 36px; }

/* Image Uploader */
.uploader-wrapper { display: block; height: 44px; width: 80px; }
#upload-img { user-select: none; cursor: pointer; padding: 0.5em 1em; width: 80px; height: 24px; line-height: 24px; display: block; text-align: center; background: #fff; border: 2px solid #673AB7; color: #673AB7; }
#upload-img:hover { box-shadow: 0px 0px 4px 0px #673AB7; }
#image-uploader { display: none; }
#image-form { display: none; }
#dummyframe { display: none; }

/* Image card */
#temp-upload {  }
.temp-img { float: left; width: 30%; height: 100%; position: relative; overflow: hidden; }
.temp-img img { position: absolute; top: 0; bottom: 0; left: 50%; transform: translateX(-50%); margin: auto; width: auto; height: auto; }
.temp-img-card { margin: 0 0 2em 0; float: left; display: block; height: 200px; width: calc(50% - 1em - 2px); box-shadow: 0px 0px 4px 0px #673AB7; }
.temp-img-card:nth-child(odd) { margin-right: 2em; }
.temp-img-details { width: calc(70% - 2em); padding: 0 1em; float: left; height: 200px; }
/* .divider { width: 2em; float: left; height: 200px; } */

/* Google Location Service */
#map { height: 500px; }
#location { background-color: #fff; border-radius: 2px; border: 1px solid transparent; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); box-sizing: border-box; font-size: 0.875em; font-weight: 300; height: 29px; margin-left: 17px; margin-top: 10px; outline: none; padding: 0 11px 0 13px; text-overflow: ellipsis; width: 400px; }

/* button */
button { border: none; outline: none; cursor: pointer; }
button:hover { box-shadow: 0px 0px 4px 0px #673AB7; }
#create-event-button, #save-event-button { position: absolute; top: 50%; transform: translateY(-50%); right: 2em; font-size: 1em; width: 154px; height: 48px; padding: 0.5em 1em; background: #673AB7; color: #fff; }
.time { position: relative; text-align: center; margin-right: 1em; width: 60px; height: 124px; float: left; }
#time-am-pm { position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 60px; height: 60px; background: #673AB7; border-radius: 2px; color: #fff; font-size: 1em; }
.time input { outline: none; border: none; margin: 1em 0; width: 60px; height: 60px; text-align: center; font-size: 1em; }
.time input:focus { outline: none; border: none; }
.time svg { cursor: pointer; outline: none;}
.delete-img { background: #fff; color: red; float: right; margin-top: 1em; }
.delete-img:hover { box-shadow: none; text-decoration: underline; }
.colon { width: 10px; line-height: 124px; font-weight: bold; font-size: 1em; }
#participant { font-size: 1em; padding: 1em; width: 5em; height: 3em; border: 1px solid #000; border-radius: 2px; }
#participant:focus { border: 1px solid #673AB7; box-shadow: 0px 0px 4px 0px #673AB7; }

/* modal */
.modal-mask { display: none; z-index: 2; background: rgba(0,0,0,0.8); position: fixed; left: 0; top: 0; width: 100%; height: 100%; }
.modal-medium { display: none; z-index: 3; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 720px; width: 100%; }
.modal-header p { color: #673AB7; line-height: 100%; font-size: 2em; font-weight: bold; margin: 0; }
.modal-header { background: #fff; padding: 1.5em 1.5em 0 1.5em; }
.modal-body { background: #fff; padding: 1em 1.5em 2em 1.5em; }
.modal-footer { background: #fff; padding: 0 1.5em 1.5em 1.5em; overflow: auto;}
.modal-footer button { line-height: 40px; float: right; background: #673AB7; width: 100px; height: 40px; font-size: 1em; color: #fff; }
.modal-footer .modal-close { color: #673AB7; border: 2px solid #673AB7; background: #fff; }
.modal-footer .modal-redirect { color: #fff;  margin-left: 1rem;}

/* #alert-about-modal {display: block;} */
.required { color: red; font-size: 0.875em; font-weight: 300; }

/* category */
.event-category { margin: 1em 0; }
.event-category span { font-size: 1em; margin-right: 2em; }
.event-category input { padding: 0.5em; border: none; box-shadow: 0px 0px 1px 0px #000; }
.event-category input:focus { box-shadow: 0px 0px 4px 0px #673ab7; outline: none; }
.event-category svg { margin-left: 1em; vertical-align: middle; cursor: pointer; }

@media only screen and (max-width: 928px) {
    .event-date { margin-bottom: 1em; }
    .temp-img-card { float: none; width: calc(100% - 2px); }
    #location { width: 360px; }
}
@media only screen and (max-width: 768px) {
    #nav-sidebar { display: none; }
    #create-event { margin-left: 0; }
    #menu { display: initial; }
    #slide-in { display: initial; }
    .event-date { margin-bottom: 0em; }
    #location { width: 300px; }
    /* .modal-medium { width: 660px; } */
}
@media only screen and (max-width: 480px) {
    #location { width: 220px; }
    .event-date { margin-bottom: 1em; }
    #create-event-button, #save-event-button { font-size: 0.8em; width: 100px; height: 36px; padding: 0.5em 0.5em; }
    #ce-header p, #ce-container { padding: 0 16px; }
    #ce-container { padding: 0 16px 32px 16px; }
    #ce-header button { right: 1em; }
    #menu { margin-right: 0rem; }
}
@media only screen and (max-width: 420px) {
    .temp-img-details, .temp-img { float: none; width: 100%; }
    .temp-img { height: 240px; }
    .temp-img img { margin: 0; width: 100%; }
    .temp-img-details { width: calc(100% - 2em); }
    .temp-img-card { margin-bottom: 2em; width: calc(100% - 2px); height: initial; }
    #location { left: 10px !important; top: 56px !important;; margin: 0; }
    #ce-header span { font-size: 28px; }
    .event-category span { display: block; }
}
@media only screen and (max-width: 320px) {
    body { font-size: 14px; }
    #ce-header span { font-size: 24px; }
}
