#event-manager { margin-left: 240px; }
#me-header { position: relative; margin-bottom: 0em; box-shadow: 0px 0px 4px -2px #000; height: 72px; background: #f7f7f7; }
#me-header p { padding: 0 2rem; font-size: 2rem; font-weight: bold; color: #673AB7; line-height: 72px; }
#me-container { padding: 0rem; padding-bottom: 2rem; }

/* Table Formatting */

td button { outline: none; border: none; background: #fff; }
td button.edit { color: #673AB7; }
td button.delete { color: red; }
td button:hover { text-decoration: underline; cursor: pointer; }
.event-date { font-size: 12px; color: #888; margin-bottom: .5rem; }
#search { padding: .8rem 1rem; position: absolute; right: 2rem; top: 14px; outline: none; border-radius: 2rem; border: none; font-size: 1rem; }
#search:focus { box-shadow: 0px 0px 4px 0px #673AB7; }

/* checkbox */
.styled-checkbox { position: absolute; opacity: 0; }
.styled-checkbox + label { position: relative; cursor: pointer; padding: 0; }
.styled-checkbox + label:before { content: ''; margin-right: 10px; display: inline-block; width: 15px; height: 15px; background: white; border: 1px solid #000; }
.styled-checkbox:hover + label:before { background: #673AB7; }
.styled-checkbox:checked + label:before { background: #673AB7; }
.styled-checkbox:checked + label:after { content: ''; position: absolute; left: 4px; top: 8px; background: white; width: 2px; height: 2px; -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white; box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

/* table */
table { border: 1px solid #ccc; border-collapse: collapse; margin: 0; padding: 0; width: 100%; table-layout: fixed; }
table caption { font-size: 1.5em; margin: .5em 0 .75em; }
table tr { background: #f8f8f8; border: 1px solid #ddd; padding: .35em; }
table th,table td { padding: .625em; text-align: center; }
table th { font-size: .85em; letter-spacing: .1em; text-transform: uppercase; }

/* modal */
/* modal */
.modal-mask { display: none; z-index: 2; background: rgba(0,0,0,0.8); position: fixed; left: 0; top: 0; width: 100%; height: 100%; }
.modal-medium { background: #fff; display: none;; z-index: 3; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 720px; width: 100%; }
.modal-header p { color: #673AB7; line-height: 100%; font-size: 2em; font-weight: bold; margin: 0; }
.modal-header { background: #fff; padding: 1.5em 1.5em 0 1.5em; }
.modal-body { background: #fff; padding: 1em 1.5em 2em 1.5em; }
.modal-footer { background: #fff; padding: 0 1.5em 1.5em 1.5em; overflow: auto;}
.modal-footer button { cursor: pointer; border: none; outline: none; line-height: 36px; float: right; background: #673AB7; width: 100px; height: 40px; font-size: 1em; color: #fff; }
.modal-footer .modal-close { color: #673AB7; border: 2px solid #673AB7; background: #fff; }
.modal-footer .modal-confirm { color: #fff;  margin-left: 1rem;}

/* table font formatting */
.event-time { font-size: 14px; }

/* dropdown */
ul { border: 1px solid #673ab7; background: #673ab7; margin: 0; max-width: 108px; width: 100%; position: absolute; font-size: 14px; padding: 0; list-style-type: none; }
ul li:first-child { border-bottom: 1px solid #673ab7; background: #673AB7; color: #fff; }
ul li:not(:first-child) { display: none; }
li { background: #fff; padding: 4px 8px; border: none; cursor: pointer; outline: none; }
li:hover { background: #673AB7; color: #fff; }

/* attendant */
.att-header, .tid-header { font-weight: bold; }
.attendant, .att-header { box-shadow: 0px 1px 2px 0px #673ab7; border-radius: 4px; padding: 8px 16px; margin-bottom: 8px; }
.tid, .tid-header { float: right; }

/* responsive */
@media only screen and (min-width: 999px) {
    table { text-align: left; width: 100%; }
    thead tr { height: 48px; border-bottom: 1px solid #ddd; }
    table th, table td { padding: 0 1rem; text-align: left; }
    th { border-bottom: 1px solid #ddd; }
    table td { vertical-align: top; padding: 1rem; border-bottom: 1px solid #ddd; }
    #event-detail p { line-height: 99%; }
    #check-table { width: 5%; padding-left: 32px; }
    #event-detail, .event-detail { width: 58%; }
    #event-location { width: 14%; }
    .select { padding-left: 32px; width: 5%; }
    td .e_t { font-size: 1rem; font-weight: bold; color: #673AB7; line-height: 1.4; margin: 0 0 1rem 0; }
    td .e_t:hover { text-decoration: underline; cursor: pointer;}
    td p { line-height: 1.5; font-size: 0.875rem; }
    table tr { background: #fff; }
}
@media screen and (max-width: 998px) {
    #me-container { padding: 0 32px; }
    #me-header { margin-bottom: 2rem; }
    table { border: 0; }
    table caption { font-size: 1.3em; }
    table thead { border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
    table tr { border-bottom: 3px solid #ddd; display: block; margin-bottom: 1em; }
    table td { border-bottom: 1px solid #ddd; display: block; font-size: .8em; text-align: right; }
    table td:before { content: attr(data-label); float: left; font-weight: bold; text-transform: uppercase; }
    table td:last-child { border-bottom: 0; }
}
@media only screen and (max-width: 768px) {
    #nav-sidebar { display: none; }
    #event-manager { margin-left: 0; }
    #menu { display: initial; }
    #slide-in { display: initial; }
}
@media only screen and (max-width: 480px) {
    #nav-sidebar { display: none; }
    #event-manager { margin-left: 0; }
    #me-container { padding: 0 16px 32px 16px; }
    #menu { margin-right: 0rem; }
    #me-container, #me-header p { padding: 0 16px; }
    #search { right: 1rem; width: 174px; }
}
@media only screen and (max-width: 420px) {
    #search { width: 130px; font-size: 12px;}
    #me-header p { font-size: 28px; }
}
@media only screen and (max-width: 320px) {
    .e_t { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; clear: both; }
    #search { width: 130px; font-size: 12px; position: inherit; margin-bottom: 0.5rem; height: 24px; }
    #me-header { margin-bottom: 0.5rem; }
    #me-header p { font-size: 24px; }
}
