#event-manager { margin-left: 240px; }
#me-header { position: relative; margin-bottom: 0em; box-shadow: 0px 0px 8px -2px #000; height: 72px; background: #f7f7f7; }
#me-header p { padding: 0 2rem; font-size: 2rem; font-weight: bold; color: #673AB7; line-height: 72px; }
#me-container { padding: 0rem; padding-bottom: 2rem; }

/* Table Formatting */
table { text-align: left; width: 100%; }
thead tr { height: 48px; border-bottom: 1px solid #ddd; }
th, td { padding: 0 0.5rem; }
th { border-bottom: 1px solid #ddd; line-height: 48px; }
#check-table { width: 10%; padding-left: 32px; }
#event-detail, .event-detail { width: 58%; }
.select { padding-left: 32px; width: 10%; }
