
#register-box{
  text-align:center;
}

#register-box p{
  font-family: Catamaran;
  color:#858b96;
  text-transform: uppercase;
  font-weight: bold;
  margin-top:3%;
}

#register-box input{
  margin:auto;
  margin-top:5px;
  display:block;
  border:2px solid #673AB7;
  background:none;
  background-image:none;
  font-size:14px;
  font-weight: bold;
  font-family: Catamaran;
  width:65%;
  padding:5px 10px;
  color:#673AB7;
  transition:border-color .25s ease, box-shadow .25s ease;

}

#register-box input:focus{
  background-color:#bebdc1;
}

#register-box button{
  margin-top:3%;
  width:65%;
  border:0;
  outline:none;
  border-radius:0;
  padding:8px 0;
  font-family: Catamaran;
  font-size:1rem;
  font-weight:bold;
  text-transform:uppercase;
  background:#673AB7;
  color:#ffffff;
}

#register-box button:hover{
  background:#32087c;
}

